body{
    margin:0px;
    padding:0;
    background-color: #9234eb;
    text-align: center;
}

#chatroom{
    
    display: flex;
    align-self:center;
    justify-content: flex-end;
    flex-direction: column;
    width:100%;
    min-height: 80vh;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#display{
    padding: 5%;;
    background-color: antiquewhite;
    text-align: left;
    flex:1;
    width:500px;
}
#message{
    flex: 1;
}
#inputs{
    width:500px;
    justify-content: center;
    display: flex;
}